@tailwind base;
@tailwind components;
@tailwind utilities;
.scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  .scrollbar::-webkit-scrollbar-track {
    background: #fbfbfb;
    border-radius: 5px;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Dark Mode Scrollbar */
  .dark .scrollbar::-webkit-scrollbar-track {
    background: #7f7f7f;
  }
  
  .dark .scrollbar::-webkit-scrollbar-thumb {
    background: #555;
  }
  